<h1>Help</h1>
<p>
  Get help on this Ruby on Rails Tutorial by visiting the help file:
  <a href="http://github.com/joshuaai/twitter-app/help.md">Twitter app clone help</a>.
  This app was built with help from the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>.
</p>
