<footer class="footer">
  <small>
    The <a href="http://github.com/joshuaai">Twitter App Tutorial</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://twitter.com/joshuaai">Twitter</a></li>
    </ul>
  </nav>
</footer>